:host {
    & .background {
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        background: url(../../assets/back.jpg);
        background-repeat: round;
        background-size: cover;
        & .image {
            max-width: 70%;
            max-height: 70%;
        }
    }
}