:host {
    & .background {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: url(../../assets/back.jpg);
        background-repeat: round;
        background-size: cover;
        & .image {
            max-width: 80%;
            max-height: 90%;
        }
    }
}